.container {
  font-family: 'Fuzzy Bubbles', cursive;
}
.card{
  width: 18rem;
  background-color: #ffecef;
}
h2{
  margin: 20px auto;
}
.row{
  margin: 20px auto;
}
.price{
  color: palevioletred;
  font-weight: bold;
  font-size: 1.5rem;
}